<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Hello Quotes</title>
		<link type="text/css" rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<div id="primary">
			<h1>Quote 'em on it</h1>
			<form action="/" method="post">
				#foreach ($error in $errors)
					<p class="error">$error</p>
				#end
				<fieldset>
					<label class="text" for="text">$text</label>
					<textarea id="text" name="text"></textarea>
				</fieldset>
				<fieldset>
					<label class="source" for="source">$source</label>
					<input id="source" type="text" name="source" />
					<label class="context" for="context">$context</label>
					<input id="context" type="text" name="context" />
				</fieldset>
				<button id="add" name="add" value="add" type="submit">Send to storage</button>
			</form>
			<h2>Recent Quotes</h2>
			<ul>
				#foreach ($quote in $quotes)
					<li>
						<blockquote cite="$quote.source()">
							<p>$quote.text()</p>
						</blockquote>
						<cite>$quote.source()</cite>
						<p class="context">$quote.context()</p>
					</li>
				#end
			</ul>
		</div>
		<script type="text/javascript" src="/js/mootools-1.2.3-core.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>
