<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Hello Quotes</title>
	</head>
	<body>
		<h1>Hello Quotes!</h1>
		<form action="/quote" method="post">
			<label for="text">Text</label>
			<textarea name="text" id="text"></textarea>
			<label for="source">Source</label>
			<input type="text" name="source" id="source" />
			<label for="context">Context</label>
			<input type="text" name="context" id="context" />
			<input type="submit" name="submit" value="Add Quote" />
		</form>
		<table>
			<tr>
				<th>Quote</th>
				<th>Source</th>
				<th>Context</th>
			</tr>
			#foreach ($quote in $quotes)
				<tr>
					<td>$quote.text()</td>
					<td>$quote.source()</td>
					<td>$quote.context()</td>
				</tr>
			#end
		</table>
	</body>
</html>
