<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>$query - Search - Quote Crate</title>
		<meta name="description" content="A place to store and organize quotations." />
		<link type="text/css" rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<div id="primary">
			<h1><a href="/">Quote Crate</a></h1>
			#parse("templates/includes/quoteForm.vm")
			#if ($query == $None || $query == "None")
				<h2>Recent</h2>
				<p>Displaying recently crated quotes because there was a problem with your search:</p>
			#else
				<h2>Results for - $query</h2>
			#end
			#if ($searchError && $searchError != "")
				<p class="searchError">$searchError</p>
			#end
			#parse("templates/includes/quoteList.vm")
		</div>
		#parse("templates/includes/searchForm.vm")
		<script type="text/javascript" src="/js/mootools-1.2.3-core.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>

