<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>$query - Search - Quote Crate</title>
		<meta name="description" content="A place to store and organize quotations." />
		<link type="text/css" rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<div id="primary">
			<h1><a href="/">Quote Crate</a></h1>
			<form action="/" method="post">
				#foreach ($error in $errors)
					<p class="error">$error</p>
				#end
				<fieldset>
					<label class="text" for="text">$text</label>
					<textarea id="text" name="text"></textarea>
				</fieldset>
				<fieldset>
					<label class="source" for="source">$source</label>
					<input id="source" type="text" name="source" />
					<label class="context" for="context">$context</label>
					<input id="context" type="text" name="context" />
				</fieldset>
				<button id="add" name="add" value="add" type="submit">Crate it!</button>
			</form>
			#if ($query == $None || $query == "None")
				<h2>Recent</h2>
				<p>Displaying recently crated quotes because there was a problem with your search:</p>
			#else
				<h2>Results for - $query</h2>
			#end
			#if ($searchError && $searchError != "")
				<p class="searchError">$searchError</p>
			#end
			#parse("templates/includes/quoteList.vm")
		</div>
		<form id="secondary" action="/search" method="post">
			<h2>Search</h2>
			<fieldset>
				<label class="text" for="search">$search</label>
				<input id="search" type="text" name="search" />
				<button id="find" name="find" value="find" type="submit">Find it!</button>
			</fieldset>
		</form>
		<script type="text/javascript" src="/js/mootools-1.2.3-core.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>

