<form action="/" method="post">
	#foreach ($error in $errors)
		<p class="error">$error</p>
	#end
	<fieldset>
		<label class="text" for="text">$text</label>
		<textarea id="text" name="text"></textarea>
	</fieldset>
	<fieldset>
		<label class="source" for="source">$source</label>
		<input id="source" type="text" name="source" />
		<label class="context" for="context">$context</label>
		<input id="context" type="text" name="context" />
	</fieldset>
	<button id="add" name="add" value="add" type="submit">Crate it!</button>
</form>

