#if ($quotes.size() > 0)
	<ul>
		#foreach ($quote in $quotes)
			<li>
				<blockquote cite="$quote.source()">
					<p><strong>&#0147;</strong> $quote.text() <strong>&#0148;</strong></p>
				</blockquote>
				#if ($quote.source() != "")
					<cite>$quote.source()</cite>
				#end
				#if ($quote.context() != "")
					<p class="context">$quote.context()</p>
				#end
			</li>
		#end
	</ul>
#else
	<p id="noQuotes">No quotes to display.</p>
#end

